body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(/Assets/pexels-pixabay-206359.jpg) no-repeat center center fixed;
    display:flex;
    justify-content: center;
}

#container{
    margin-top: 15%;
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2); 
    border: 1px solid rgba(0, 0, 0, 0.3);         
    border-radius: 12px; 
    padding: 20px;                              
}

#inputSection{
    display:flex;
    align-self: flex-end;
}


